body {
  background-color: #201854;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenido > div {
  padding: 10px;
}

#contenido > div > form > h2 {
  color: black;
}

#contenido > div > div {
  color: black;
}

#internalGrid > div > .six {
  background-color: #201854;
  color: white;
  font-weight: bold;
}

#controlPresupuesto, #controlPresupuesto > div {
  margin-top: 20px;
}
