form > .chip {
  background-color: #ff7777;
  color: white;
  margin-top: 5%;
}

.detalleCita {
  height: 10%;
  text-align: left
}

.eliminaCita {
  background-color: red;
}

.eliminaCita:hover {
  background-color: #ff5555;
}