@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

nav {
  background-color: #009999;
}

#titulo {
  display: inline;
}