body {
  background-color: #64A555;
}

#card_body {
  background-color: #9F2943;
}

center {
  padding: 20px;
}

form {
  padding: 20px;
}

#resumen > *{
  padding: 15px;
}

#resumen div {
  background-color: #0D9C88;
  color: white;
  font-weight: bold;
}

#resumen div .ui {
  color: whitesmoke;
  font-weight: bold;
}